<!DOCTYPE html>
<html lang="en">
<head>
	<title>Layout with Bootstrap</title>
	<link rel='stylesheet' type="text/css" href="layout.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="col-m-12">
           <section class="header">
	       <section style="background: #FB0D1C; height: 100px;"></section>
           </section>
       </div>

      <br>
         <div class="col-m-12">
           <section class="container">
	       <section class="box1"></section>
	       <section class="box2"></section>
	       <section class="box3"></section>
           </section>
         </div>
      <br>
        <div class="col-m-12">
          <section class="bottom">
	      <section style="background:#0C8010; height: 25%;"></section>
          </section>
      </div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	</body>
	</html>